{% load static %}
{% load humanize %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!DOCTYPE html>
<html>
<head>
    <title>Djamazon</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1><a href="{% url 'app:index' %}">Djamazon</a></h1>
            <div class="header-menu">
                {% if request.user.is_authenticated %}
                    <img src="{% static 'svg/walet.svg' %}">
                    <span>Point:{{user.point | intcomma}}</span>
                    <span><a href="{% url 'app:fav_products' %}" class="animoBorderLeftRight">お気に入り</a></span>
                    <span><a href="{% url 'app:cart' %}" class="animoBorderLeftRight ">カート</a></span>
                    <span><a href="{% url 'app:order_history'%}" class="animoBorderLeftRight">注文履歴</a></span>
                    <span><a href="{% url 'app:logout' %}" class="btn btn-dark btn-dark">ログアウト</a></span>
                {% else %}
                    <span><a href="{% url 'app:login' %}" class="btn btn-dark">login</a></span>
                    <span><a href="{% url 'app:signup' %}" class="btn btn-primary">signup</a></span>
                {% endif %}
            </div>
        </div>
    </header>    
    <div class="container">
        {% for message in messages  %}
            <p class="message-{{message.tags}}">{{message}}</p>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>