{% extends 'app/base.html' %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
<form class="form-signin" method="POST">{% csrf_token %}
    {% if form.errors %}
        <p>ユーザー名かパスワードが間違っています</p>
    {% endif %}
    <h2>ログイン</h2>
    <label>メールアドレス</label>
    <input name="username"> <!--emailではない-->
    <br>
    <label>パスワード</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="ログイン" class="btn btn-dark btn-sm">

</form>
<div style="text-align: center; margin: 2em 0;">
    <img class="search" src="{% static 'svg/search.svg' %}">
</div>
{% endblock %}
